
@import url('https://fonts.googleapis.com/css?family=Anaheim');
ul {
    padding: 0;
    background-color: #000000;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    font-size: 14;
    font-family: 'Anaheim';

}

li {
    display: inline-block;
    margin-right: 10px;
    color: #ffffff;
}
