
@import url('https://fonts.googleapis.com/css?family=Anaheim');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

li, a, button {
  font-family: 'Anaheim', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 30px, 10%;
}